page-start {
    .container{
		background-color: #1241b1;
		text-align: center;
		width: 100%;
		height: 100%;
		display: flex;
	  	justify-content: center;
	  	align-items: cen ter;
	  	color:#fff;
	}
}
