
<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="post && espaniol">{{post.titulo}}</ion-title>
    <ion-title *ngIf="post && !espaniol">{{post.tituloQuechua}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid *ngIf="post && espaniol">
        <ion-row>
            <ion-col>
              <img [src]="post.image"/>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <p>{{post.cuerpo}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="post && !espaniol">
        <ion-row>
            <ion-col>
              <img [src]="post.image"/>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <p>{{post.cuerpoQuechua}}</p>
            </ion-col>
        </ion-row>
        
    </ion-grid>

    <ion-fab right bottom>
        <button ion-fab mini (click)="regresar()"> 
            <ion-icon name="backspace"></ion-icon>
        </button>
    </ion-fab>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col col-6 center text-center (click)="cambiarLengua()">
                    Español 
            </ion-col>
            <ion-col col-6 center text-center (click)="cambiarLengua()">
                    <b style="font-size: 1.8rem">Quechua</b>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>

