page-reporte {

    .container{
		background-color: #384455;
		text-align: center;
		display: flex;
	  	justify-content: center;
	  	align-items: center;
	  	color:#fff;
    }

    .imagem_R{
        width: 60px;
        height: auto;   
    }
}
