page-billete-20 {

    .billete{
        height: 204px;
        width: 440px;
        max-width:440px;
    }


    .container{
		background-color: #384455;
		text-align: center;
		display: flex;
	  	justify-content: center;
	  	align-items: center;
	  	color:#fff;
    }
    
    .image{
        margin-top: 30px;
        height:auto;
        width: 80px;
    }
}
